@import "tailwindcss";

:root {
  --text: #04000c;
  --secondary: #a1a0a0;
  --main: #d5d5d5;
  --input-grey: #595959;
  --error: #d53838;
  --white-text: #fff;
}

* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}

body {
  font-weight: 400;
  color:var(--text);
}
